# Laravel default
/vendor
/node_modules
/public/storage
/storage/*
/.env
/.env.*
/.DS_Store
/npm-debug.log
/yarn-error.log
CPD.zip
cek-starsender.php

# Files hasil debug / testing pribadi
bank
bill_key
biller_code
id
payment_code
payment_status
payment_type
permata_va_number
status
test.php
url
user_id
va_number
waNotificationService
CPD.zip
cek-starsender.php
